[Unit]
Description=Webcam Next.js Server
After=network.target

[Service]
User=pi
WorkingDirectory=/home/pi/webcam/webcam-frontend/
ExecStart=/home/pi/webcam/webcam-frontend/start-webcam.sh
Restart=always
Environment=PORT=3000
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
